<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">

        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai a = '+ total }}</h1>
        <h1>{{ 'Rata-rata a = '+ average }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                average: 0,
                total: 0

            },
            methods: {
                openForm: function () {
                    count = 0
                    while (this.total<10) {
                        this.a = prompt("masukkan nilai a", "0");
                        this.total = this.total +parseInt(this.a);
                        count++
                    }
                    this.average = this.total/count
                }
            }
        })
    </script>
</body>

</html>