<template>
  <!-- <div class="wrapper">
    <router-link to="/">Home</router-link>
    <router-link to="/donation">Donations</router-link>
    <router-link to="/blog">Blogs</router-link>
    <div class="content-wrapper">
      <router-view></router-view>
    </div>
    <app-footer />
  </div> -->

  <!-- <v-app>
  <v-navigation-drawer app>Side Bar</v-navigation-drawer>
  <v-app-bar app>Header</v-app-bar>
  <v-content>
    <v-container fluid>
      <router-view></router-view>
    </v-container>
  </v-content>
  <v-footer app>Apika coding 2022</v-footer>
</v-app> -->
  <v-App>
    <v-navigation-drawer app v-model="drawer">
        <v-list>
            <v-list-item v-if="!guest">
                <v-list-item-avatar>
                    <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                    <v-list-item-title>John Lesider</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <div class="pa-2" v-if="guest">
                <v-btn block color="primary" class="mb-1">
                    <v-icon left>mdi-lock</v-icon>
                    Login
                </v-btn>
                <v-btn block color="success" >
                    <v-icon left>mdi-account</v-icon>
                    Register
                </v-btn>
            </div>
            <v-divider></v-divider>
            <v-list-item v-for="(item,index) in menus" :key="'menu-'+index" :to="item.route">
                <v-list-item-icon>
                    <v-icon left>{{item.icon}}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>{{item.title}}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        <template v-slot:append v-if="!guest">
            <div class="pa-2">
                <v-btn block color="red" dark>
                    <v-icon left>mdi-lock</v-icon>
                    Logout
                </v-btn>
            </div>
        </template>
    </v-navigation-drawer>
    <v-app-bar app color="primary" dark>
        <v-app-bar-nav-icon @click.stop="drawer =!drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>TogetherAPP</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon>
            <v-badge color="orange" overlap>
                <template v-slot:badge>
                    <span>3</span>
                </template>
                <v-icon>mdi-cart</v-icon>
            </v-badge>
        </v-btn>
        <v-text-field slot="extension" hide-details append-icon="mdi-microphone" flat label="Search" prepend-inner-icons="mdi-magnify" solo-inverted></v-text-field>
    </v-app-bar>
    <v-main>
        <v-container fluid>
            <v-slide-y-transition>
                <router-view></router-view>
            </v-slide-y-transition>
        </v-container>
    </v-main>
    <v-card>
        <v-footer absolute app>
            <v-card-text class="text-center">
                &copy: {{new Date().getFullYear()}} - <strong>ApikaCoding</strong>           </v-card-text>
        </v-footer>
    </v-card>
  </v-App>
</template>

<script>
// export default {
//   mounted() {
//     console.log("Component mounted.");
//   },
// };
export default {
  nam: "App",
  data: () => ({
    drawer: false,
    menus: [
      { title: "Home", icon: "mdi-home", route: "/" },
      { title: "Campaigns", icon: "mdi-hand-heart", route: "campaigns" },
    ],
    guest: true,
  }),
};
</script>
