<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model:value="name" > 
        <button  v-if="change" onclick="vm.add()">{{ button }}</button>
        <button  v-else="change" onclick="vm.update()">{{ button }}</button>
        <ul>
            <div v-for="(users, index) in users">
                <li>{{ users.name }}</li>
                <button v-on:click='edit(users,index)'>edit</button>
                <button v-on:click='deletes(index)'>delete</button>
            </div>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                finds: [],
                name: "",
                change : true,
                button : "Add",
                index : 0,
                users: [{
                    name: 'arvita'
                }, {
                    name: "agus",
                }, {

                    name: 'kurniasari'
                }]

            },
            methods: {
                add: function () {
                    this.users.push({
                        name: this.name
                    });
                },
                deletes: function (index) {
                    console.log(index);
                    console.log(this.finds);
                    this.users.splice(index, 1);
                    if (index === 0)
                        this.add()
                },
                edit: function (users,index) {
                    console.log(index); 
                    console.log(this.finds);
                    console.log(users.name); 
                    this.name = users.name
                    this.button = "Edit"
                    this.change = false
                    this.index = index
                },
                update: function () {
                    console.log(this.finds);
                    this.users[this.index]['name'] = this.name
                }

            }
        })
    </script>
</body>

</html>